@model IEnumerable<ModularHouse.Models.Question>

@{ 
    int count = 0;
}

@foreach (var item in Model)
{
    count++;
    <div class="question_card">
        <input type="hidden" value="@item.Id" name="id" class="hidden_input" />
        <h3>Имя</h3>
        <p>@Html.DisplayFor(modelItem => item.Name)</p>
        <hr>
        <h3>Фамилия</h3>
        <p>@Html.DisplayFor(modelItem => item.Surname)</p>
        <hr>
        <h3>Электронный адрес</h3>
        <p>@Html.DisplayFor(modelItem => item.EmailAddress)</p>
        <hr>
        <h3>Вопрос</h3>
        <p>@Html.DisplayFor(modelItem => item.QuestionTopic)</p>
        <hr>
        <input type="submit" value="Удалить" class="input_button" id="@item.Id" onClick="getdetails(this)" />
    </div>
}

@{
    if (count == 0)
    {
        <h2>Нет новых вопросов</h2>
    }
}
